[Unit]
Description=Snackbar for Coffelist
After=network-online.target

[Service]
PermissionsStartOnly=true
User=snackbar
Group=snackbar
WorkingDirectory=/usr/local/bin/SnackBar
ExecStartPre=/bin/mkdir -p /var/lib/snackbar
ExecStartPre=/bin/chown snackbar:snackbar /var/lib/snackbar
ExecStart=/usr/bin/python SnackBar.py
KillMode=control-group
TimeoutStopSec=5
Restart=on-failure
StandardOutput=null
StandardError=syslog

[Install]
WantedBy=multi-user.target
Alias=snackbar.service
